@model BugTrackerV1._0.Models.BugModels.BugDetailModel
@{
    ViewData["Title"] = "Detail";
}
@{ 
    var statusList = Model.StatusOptions.Select(s => s.Name ).ToList();
    var preSelectedName = Model.StatusOptions.FirstOrDefault(s => s.Name == Model.Status).Name;
    var statusSelectList = new SelectList(statusList, preSelectedName);
}
<form class="submissionForm" asp-controller="Bug" asp-action="UpdateBug" asp-route-id=@Model.Id method="post">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="form-group">
                <label for="BugTitle">Bug Title</label>
                <p class="lead">@Model.Title</p>
            </div>
            <div class="form-group">
                <label for="BugTitle">Assigned To</label>
                <p class="lead">@Model.Team</p>
            </div>
            <div class="form-group">
                <label for="Description">Description</label>
                <p class="lead">@Model.Description</p>
            </div>
            <div class="form-group">
                <label for="Urgency">Urgency</label>
                <p class="lead">@Model.Urgency</p>
            </div>
            <div class="form-group">
                <label asp-for="UpdateDetail.NewStatus"></label>
                <select asp-for="UpdateDetail.NewStatus" asp-items="statusSelectList" class="form-control"></select>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label for="ProgressLog">Progress Log</label>
                    <p style="white-space:pre-line">@Html.Raw(Model.ProgressLog.Replace("\n","<br />"))</p>
                    <textarea asp-for="UpdateDetail.UpdateToLog" class="form-control" rows="3"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-dark">Save Changes</button>
        </div>
    </div>
</form>



