@model BugTracker.Models.BugModels.BugDetailModel
@{
    <text>
        <script>
            var data = '@Html.Raw(Json.Serialize(Model))';
        </script>
    </text>
}
@{
    ViewData["Title"] = "Detail";
}

<div class="row justify-content-center" style="margin-top:15px">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-dark text-light">
                Ticket Detail
            </div>
            <form class="submissionForm" asp-controller="Bug" asp-action="UpdateBug" asp-route-id=@Model.Id method="post" style="padding:15px">
                <div class="form-group">
                    <label for="Title">Ticket Title</label>
                    <p class="lead">@Model.Title</p>
                </div>
                <div class="form-group">
                    @if (User.IsInRole("Admin"))
                    {
                        <label for="">Assigned To Team</label>
                        <p class="lead">@Model.Team</p>
                    }
                    else if (User.IsInRole("Manager"))
                    {
                        <div class="form-group">
                            <label asp-for="UpdateDetail.Project" class="control-label"></label>
                            <select class="form-control" asp-for="UpdateDetail.Project" id="projectSlt">
                                @foreach (var project in Model.ProjectOptions)
                                {
                                    if (Model.Project == project)
                                    {
                                        <option selected>@project</option>
                                    }
                                    else
                                    {
                                        <option>@project</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="UpdateDetail.AssignedTo" class="control-label"></label>
                            <select class="form-control" asp-for="UpdateDetail.AssignedTo" id="developerSlt"></select>
                        </div>
                    }
                </div>
                <div class="form-group">
                    <label for="BugTitle">Created On</label>
                    <p class="lead">@Model.CreatedOn</p>
                </div>
                <div class="form-group">
                    <label for="BugTitle">Created By</label>
                    <p class="lead">@Model.CreatedBy</p>
                </div>
                @if (string.IsNullOrWhiteSpace(Model.ClosedBy) && Model.ClosedOn != null)
                {
                    <div class="form-group">
                        <label for="BugTitle">Closed On</label>
                        <p class="lead">@Model.ClosedOn</p>
                    </div>
                    <div class="form-group">
                        <label for="BugTitle">Closed By</label>
                        <p class="lead">@Model.ClosedBy</p>
                    </div>
                }
                <div class="form-group">
                    <label for="Description">Description</label>
                    <p class="lead">@Model.Description</p>
                </div>
                <div class="form-group">
                    <label for="Urgency">Urgency</label>
                    <p class="lead">@Model.Urgency</p>
                </div>
                <div class="form-group">
                    <label asp-for="UpdateDetail.NewStatus">Status</label>
                    <select asp-for="UpdateDetail.NewStatus" class="form-control">
                        @foreach (var status in Model.StatusOptions)
                        {
                            if (status == Model.Status)
                            {
                                <option selected>@status</option>
                            }
                            else
                            {
                                <option>@status</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <label for="ProgressLog">Progress Log</label>
                        <p style="white-space:pre-line">@Html.Raw(Model.ProgressLog.Replace("\n", "<br />"))</p>
                        <textarea asp-for="UpdateDetail.UpdateToLog" class="form-control" rows="3"></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-info">Update</button>
            </form>
        </div>
    </div>
</div>

<script>
    (function () {
        var selectProject = document.getElementById("projectSlt");
        var selectDeveloper = document.getElementById("developerSlt");
        selectProject.onchange = function () {
            var dataAsObj = JSON.parse(data);
            var developers = "";
            for (i = 0; i < dataAsObj.userProjectOptions.length; i++) {
                if (dataAsObj.userProjectOptions[i].project == selectProject.value) {
                    developers += "<option>" + dataAsObj.userProjectOptions[i].username + "</option>";
                }
            }
            selectDeveloper.innerHTML = developers;
        }
    })(document, window);
</script>
