@model BugTracker.Models.ManagementModels.TeamIndexModel
@{
    ViewData["Title"] = "ManageTeams";
}

    <div class="container">
        <div class="row" style="margin-top:15px">
            <div class="col">
                <div class="card">
                    <div class="card-header bg-dark text-light">
                        Assign Teams
                    </div>
                    <form asp-controller="Management" asp-action="AssignTeams" method="post" style="padding:15px">
                        <div class="form-group">
                            <label asp-for="UpdateModel.Username" class="control-label"></label>
                            <select multiple class="form-control" asp-for="UpdateModel.Username">
                                @foreach (var username in Model.Usernames)
                                {
                                    <option>@username</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="UpdateModel.Team" class="control-label"></label>
                            <select multiple class="form-control" asp-for="UpdateModel.Team">
                                @foreach (var team in Model.Teams)
                                {
                                    <option>@team</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="option" class="btn btn-info" />
                        </div>
                    </form>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-header bg-dark text-light">
                        Add Teams
                    </div>
                    <form asp-controller="Management" asp-action="AddTeams" method="post" style="padding:15px">
                        <div class="form-group">
                            <label class="control-label">Team Name</label>
                            <input type="text" class="form-control" placeholder="Team name.." name="teamName">
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Add" class="btn btn-info" />
                        </div>
                    </form>
                </div>
                <div class="card">
                    <div class="card-header bg-dark text-light">
                        Delete Teams
                    </div>
                    <form asp-controller="Management" asp-action="DeleteTeams" method="post" style="padding:15px">
                        <div class="form-group">
                            <label class="control-label">Team Name</label>
                            <select class="form-control" name="teamName">
                                @foreach (var team in Model.Teams)
                                {
                                    <option>@team</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Delete" class="btn btn-info" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:15px">
            <div class="col">
                <div class="card">
                    <div class="card-header bg-dark text-light">
                        Employees
                    </div>
                    <table class="table table-striped">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Full Name</th>
                                <th scope="col">User</th>
                                <th scope="col">Email Address</th>
                                <th scope="col">Assigned Team</th>
                                <th scope="col">Roles</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.UserTeams)
                            {
                                <tr>
                                    <td>@item.FullName</td>
                                    <td>@item.Username</td>
                                    <td>@item.Email</td>
                                    <td>@item.Team</td>
                                    <td>@item.Role</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
