@model BugTracker.Models.ManagementModels.ProjectsIndexModel
@{
    ViewData["Title"] = "ManageProjects";
}
    <div class="row">
        <div class="col-5">
            <form asp-controller="Management" asp-action="ManageProjects" method="post">
                <div class="form-group">
                    <label asp-for="UpdateModel.Username" class="control-label text-light"></label>
                    <select asp-for="UpdateModel.Username" multiple class="form-control">
                        @foreach (var username in Model.Users)
                        {
                            <option>@username</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="UpdateModel.ProjectName" class="control-label text-light"></label>
                    <select asp-for="UpdateModel.ProjectName" multiple class="form-control">
                        @foreach (var project in Model.Projects)
                        {
                            <option>@project</option>
                        }
                    </select>
                </div>
                <input type="submit" name="option" value="Assign" class="btn btn-dark"/>
                <input type="submit" name="option" value="Remove" class="btn btn-dark"/>
            </form>
        </div>
        <div class="col-7">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">User</th>
                        <th scope="col">Email Address</th>
                        <th scope="col">Assigned To</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.UserProjects)
                    {
                        <tr>
                            <td>@item.Username</td>
                            <td>@item.EmailAddress</td>
                            <td>@item.Project</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    